@use "mixins";
@use "vars";

.about {
  @include mixins.wrapper;
  &__title {
    @include mixins.title;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: vars.$spBreakPoint) {
      flex-direction: column;
    }
  }

  &__image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 30px;
  }

  &__text {
    text-align: left;

    @media screen and (max-width: vars.$spBreakPoint) {
      text-align: center;
    }
  }

  &__name {
    font-size: 1rem;
    margin: 10px 0;
  }
}
